body {
  background-color: #181a1b;
  color: #e8e6e3;
  margin: auto;
}
header {
  
  width: 100%;
  margin: 0px;
  max-height: 17vh;
  min-height: 5vh;
}
.cabecalho {
  
  background-color: #464444;
  block-size: inherit;
}

.cabecalho h1{
  text-align: center;
  margin: auto;
  font-size: 2.4em;
  color: #c6c6c6;
  font-family: Buenard;
  box-sizing: border-box;
}
.titulo {
  
  text-align: center;
  font-size: 2em;
  font-family: Buda;
  color: #c6c6c6;
}
.tabela {
  
  border: white groove;
  padding: 11px;
  text-align: center;
  block-size: auto;
  box-sizing: content-box;
  font-size: 5vh;
  margin: auto;
}

.tabela .linha-principal {
  
}

.tabela .linha-principal th {
  
}