body {
  background-color: #181a1b;
  color: #e8e6e3;
  margin: auto;
}
header {
  box-sizing: border-box;
  display: grid;
  background-color: #464444;
}
.cabecalho {
  
}

.cabecalho h1{
  text-align: center;
  font-size: 2em;
  color: #c6c6c6;
  font-family: Buenard;
}
.titulo {
  
  text-align: center;
  font-size: 2em;
  font-family: Buda;
  color: #c6c6c6;
}
.tabela {
  
  padding: 11px;
  text-align: center;
  block-size: auto;
  box-sizing: content-box;
  font-size: 1.6vw;
  margin: auto;
}

.tabela .linha-principal {
  
}

.tabela .linha-principal th {
  
}