body {
  background-color: #181a1b;
  color: #e8e6e3;
  margin: auto;
}
header {
  
  width: 100%;
  height: 100px;
  margin: 0px;
}
.cabecalho {
  
  background-color: #464444;
  block-size: inherit;
}

.cabecalho h1{
  text-align: center;
  margin: auto;
  font-size: 50px;
  color: #c6c6c6;
  font-family: Buenard;
  box-sizing: border-box;
  padding: 15px;
}
.titulo {
  
  margin: 66px auto;
  text-align: center;
  font-size: 51px;
  font-family: Buda;
  color: #c6c6c6;
}
.tabela {
  
  border: white groove;
  padding: 11px;
  margin: auto;
}

.tabela .linha-principal {
  
}

.tabela .linha-principal th {
  
}