body {
  background-color: #181a1b;
  color: #e8e6e3;
  margin: auto;
}
header {
  box-sizing: border-box;
  display: grid;
  background-color: #464444;
}
.cabecalho {
  
}

.cabecalho h1{
  text-align: center;
  font-size: 2em;
  color: #c6c6c6;
  font-family: Buenard;
}
.titulo {
  
  text-align: center;
  font-size: 2em;
  font-family: Buda;
  color: #c6c6c6;
}
.tabela {
  font-family: 'Cabin Condensed', sans-serif;
  padding: 11px;
  text-align: center;
  block-size: auto;
  box-sizing: content-box;
  font-size: 1.6vw;
  margin: auto;
  background-color: #111;
}

.tabela .linha-principal {

  font-size: 1.5em;
}

.tabela .linha-principal th {

  padding: 10px 8px;
}

footer {
  
  background-color: #333;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 18px;
  margin: 139px auto auto auto;
}

.nome-final {
  
  text-align: center;
  font-size: x-large;
  font-family: Buda;

}